@charset "UTF-8";

@font-face {
  font-family: 'guardians';
  src: url(guardians/Guardians.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'warrior';
  src: url(warrior/Guardian\ Warrior.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    
}

body{
  margin-top: 5%;
  background: linear-gradient(0, #120c56, #000000);
}

#titletext1{
    font-size: 1.5em;
    color: white;
    font-family: "guardians";
    text-align: center;
    border: 1px solid white;
    border-bottom: 0px solid white;
    padding: 4%;
    padding-bottom: 0%;
}

#titletext2{
    font-size: 1.5em;
    color: white;
    font-family: "guardians";
    text-align: center;
    border: 1px solid white;
    border-top: 0px solid white;
    margin: auto;
    padding: 4%;
    padding-top: 0%;
}

#Box_title1{
    border: 4px solid white;
    border-bottom: 0px solid white;
    width: 70%;
    margin: auto;
    padding: 1%;
}
#Box_title2{
    border: 4px solid white;
    border-top: 0px solid white;
    width: 60%;
    margin: auto;
    padding: 1%;
    margin-bottom: 10%;

}


h2{
    font-size: 1.7em;
    color: white;
    font-family: "warrior";
    text-align: center;
    margin-bottom: 5%;
    text-transform: uppercase;
    
    font-weight: normal;
}

.textbox{
    width: 80%;
    margin: auto;
    line-height: 1.7em;
    
}

.card {
    padding: 2%;
    width: 85%;
    margin: auto;
    background: linear-gradient(180deg, #060D1F,#bc3cca48);
    box-shadow: -15px 15px 20px #0f255d, 10px -15px 20px #bc3cca48;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    animation: shadowAnimation 1s infinite ease-in-out;
  }

  .shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  .button{
    text-align: center;
    margin-top: %;
  }
  .shadow__btn {
    background: #712aff;
    box-shadow: 0 0 25px #712aff;
    
  }





/*ESTRELAS*/
.stars{
    margin: auto;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
      100px 80px white,
      80px 120px white,
      300px 20px white,
      250px 130px white,
      200px 50px white,
      150px 100px white,
      320px 100px white,
      0px 0px white,
      -135px 10px white,
    -150px 220px white,
    -165px 270px white,
    -190px 250px white, 
    -200px 250px white,
    -215px 250px white,
    -230px 220px white,
    -250px 200px white;
      animation: anim-stars 60s linear infinite;
  }

 
.stars::after{
  top: 150px;
  content: " ";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 50px 30px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 100px white,
    0px 0px white,
    -135px 10px white,
    -150px 220px white,
    -165px 270px white,
    -190px 250px white, 
    -200px 250px white,
    -215px 250px white,
    -230px 220px white,
    -250px 200px white;
}

.stars2{
  margin: auto;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 15px 15px white,
    125px 35px white,
    50px 80px white,
    10px 120px white,
    275px 90px white,
    230px 10px white,
    120px 130px white,
    300px 130px white,
    220px 115px white
    0px 10px white,
    10px 100px white,
    20px 80px white,
    30px 35px white,
    -135px 10px white,
    -150px 220px white,
    -165px 270px white,
    -190px 250px white, 
    -200px 250px white,
    -215px 250px white,
    -230px 220px white,
    -250px 200px white;
  animation: anim-stars 30s linear infinite;
}

.stars2::after{
  content: " ";
  position: absolute;
  top: 150px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 15px 15px white,
    125px 35px white,
    50px 80px white,
    10px 120px white,
    275px 90px white,
    230px 10px white,
    120px 130px white,
    300px 130px white,
    220px 115px white,
    0px 10px white,
    10px 100px white,
    20px 80px white,
    30px 35px white,
    -135px 10px white,
    -150px 220px white,
    -165px 270px white,
    -190px 250px white, 
    -200px 250px white,
    -215px 250px white,
    -230px 220px white,
    -250px 200px white;

}

.stars3{
  margin: auto;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 50px 30px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 100px white,
    0px 0px white,
    -135px 10px white,
  -150px 220px white,
  -165px 270px white,
  -190px 250px white, 
  -200px 250px white,
  -215px 250px white,
  -230px 220px white,
  -250px 200px white;
    animation: anim-stars 25s linear infinite;
  }
  .stars3::after{
    content: " ";
    position: absolute;
    top: 150px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px white,
      125px 35px white,
      50px 80px white,
      10px 120px white,
      275px 90px white,
      230px 10px white,
      120px 130px white,
      300px 130px white,
      220px 115px white,
      0px 10px white,
      10px 100px white,
      20px 80px white,
      30px 35px white,
      -135px 10px white,
      -150px 220px white,
      -165px 270px white,
      -190px 250px white, 
      -200px 250px white,
      -215px 250px white,
      -230px 220px white,
      -250px 200px white;
  
  }
  .stars4{
    margin: auto;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
      100px 80px white,
      80px 120px white,
      300px 20px white,
      250px 130px white,
      200px 50px white,
      150px 100px white,
      320px 100px white,
      0px 0px white,
      -135px 10px white,
    -150px 220px white,
    -165px 270px white,
    -190px 250px white, 
    -200px 250px white,
    -215px 250px white,
    -230px 220px white,
    -250px 200px white;
      animation: anim-stars 20s linear infinite;
    }
    .stars4::after{
      content: " ";
      position: absolute;
      top: 150px;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      box-shadow: 15px 15px white,
        125px 35px white,
        50px 80px white,
        10px 120px white,
        275px 90px white,
        230px 10px white,
        120px 130px white,
        300px 130px white,
        220px 115px white,
        0px 10px white,
        10px 100px white,
        20px 80px white,
        30px 35px white,
        -135px 10px white,
        -150px 220px white,
        -165px 270px white,
        -190px 250px white, 
        -200px 250px white,
        -215px 250px white,
        -230px 220px white,
        -250px 200px white;
    
    }
    .stars5{
      margin: auto;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      box-shadow: 50px 30px white,
        100px 80px white,
        80px 120px white,
        300px 20px white,
        250px 130px white,
        200px 50px white,
        150px 100px white,
        320px 100px white,
        0px 0px white,
        -135px 10px white,
      -150px 220px white,
      -165px 270px white,
      -190px 250px white, 
      -200px 250px white,
      -215px 250px white,
      -230px 220px white,
      -250px 200px white;
        animation: anim-stars 15s linear infinite;
      }
      .stars5::after{
        content: " ";
        position: absolute;
        top: 150px;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        box-shadow: 15px 15px white,
          125px 35px white,
          50px 80px white,
          10px 120px white,
          275px 90px white,
          230px 10px white,
          120px 130px white,
          300px 130px white,
          220px 115px white,
          0px 10px white,
          10px 100px white,
          20px 80px white,
          30px 35px white,
          -135px 10px white,
          -150px 220px white,
          -165px 270px white,
          -190px 250px white, 
          -200px 250px white,
          -215px 250px white,
          -230px 220px white,
          -250px 200px white;
      
      }
      .stars6{
        margin: auto;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        box-shadow: 50px 30px white,
          100px 80px white,
          80px 120px white,
          300px 20px white,
          250px 130px white,
          200px 50px white,
          150px 100px white,
          320px 100px white,
          0px 0px white,
          -135px 10px white,
        -150px 220px white,
        -165px 270px white,
        -190px 250px white, 
        -200px 250px white,
        -215px 250px white,
        -230px 220px white,
        -250px 200px white;
          animation: anim-stars 10s linear infinite;
        }
        .stars6::after{
          content: " ";
          position: absolute;
          top: 150px;
          width: 1px;
          height: 1px;
          border-radius: 50%;
          box-shadow: 15px 15px white,
            125px 35px white,
            50px 80px white,
            10px 120px white,
            275px 90px white,
            230px 10px white,
            120px 130px white,
            300px 130px white,
            220px 115px white,
            0px 10px white,
            10px 100px white,
            20px 80px white,
            30px 35px white,
            -135px 10px white,
            -150px 220px white,
            -165px 270px white,
            -190px 250px white, 
            -200px 250px white,
            -215px 250px white,
            -230px 220px white,
            -250px 200px white;
        
        }


 @keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-1700px);
    }
}
