@charset "UTF-8";
/*
    In HTML id    = # In CSS
    In HTML class = . In CSS
*/
body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(04, 100, 0);
}

#main{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}
h2{
    color: rgb(51, 100, 49);
}

.Basic{
    color: #3c805e;
}

.Inter{
    color: #80793c;
}

.Advanced{
    color: #803c3c;
}

.destaque{
    background-color: rgb(242, 242, 95);
}