@charset "UTF-8";
body{
    background-color: #212121;
}
@font-face {
    font-family: 'Action';
    src: url(action_comics/Action\ Comics\ Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

#card {
    width: 350px;
    height: 400px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    position: absolute;
    top: 20%;
    left: 5%;
   }
#btn {
    background: #FBCA1F;
    font-family: inherit;
    font-weight: 900;
    font-size: 13px;
    width: 15%;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }
#btn2{
    background: #FBCA1F;
    font-family: inherit;
    font-weight: 900;
    font-size: 18px;
    width: 20%;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    position: absolute;
    top: 90%;
    left: 75%;
  }

#box{
    text-align: center;
}
p{
    margin-top: 5%;
    margin-bottom: 2%;
    color: #FBCA1F;
    font-size: 1.3em;
    font-family: 'Action';
    line-height: 1.8em;
}
#res{
    text-align: justify;
    padding-left: 5%;
    color: #FBCA1F;
    font-size: 0.9em;
    font-family: 'Action';
    line-height: 3em; 
}

