@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: rgb(61, 101, 2);
    padding: 80px;
    text-align: center;
    color: white;
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover{
    transition: 0.5s;
    background-color: white;
    border-radius: 2px;
    color: black;
    font-weight: bold;
}

@media screen and (max-width:600px){
    .navbar{
        flex-direction: column;
        text-align: center;
    }
}

.card-pai{
    display: flex;
    justify-content: center;
}

.card-filho{
    height: 300px;
    flex: 47%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}