@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
#gv{
    text-align: center;
    margin-bottom: 5%;
}
#gv p{
    display: inline;
    font-family: "Roboto";
}
#caixa{
    margin-bottom: 5%;
}
#feirao{
    text-align: center;
    color: white;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: rem;
}
strong{
    color: yellow
}

#feica{
border: 1px solid black;
background: linear-gradient(#009FFD, 
#2A2A72);
width: 100%;
margin: auto;
margin-bottom: 5%;
}

#text1{
    font-size: 0.8rem;
    text-align: center;
    color: white;
    padding: 5%;
}
#text2{
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: 5%;
}
#caixa1{
    display: flex;
}

*{
    font-family: "Roboto";
    padding: 0px;
    margin: 0px;
    color: rgb(80, 79, 79);
}


#cont{
    margin: auto;
    width: 300px;
    height: 250px;
    background: white;
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin-bottom: 5%;
}

h1{
    font-size: 1rem;
    text-align: center;
    background-color: #009FFD;
    border-radius: 10px 10px 0px 0px;
}

#caixa2{
    width: 35%;
    height: 150px;
    display: inline-flex;
    /*border: 1px solid black;*/
    text-align: center;
    
    
}
#caixa2 img{
    width: 100%;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 15%;
}
#caixa3{
    width: 65%;
    height: 230px;
    padding: 4%;
}


