@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ;
}

header{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
}

.sec{
    background-color: rgb(255, 255, 255);
    color: black;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid black;
    text-align: center;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid black;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

#sec1{
    
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 80%;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid black;
}

#sec2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 80%;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    margin: auto;
    border: 1px solid black;
}

section a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.cont1{
    flex: 40%;
    
    text-align: center;
}

.cont2{
    flex: 40%;
    
    text-align: center;
}


.cont1 ul{
    list-style-type: none;
}

.cont2 ul{
    list-style-type: none;
}

img{
    position: relative;
    top: 10px;
    left: 15px;
}

.video{
    border-radius: 10px;
    width: 250px;
    height: 200px;
}

.d-video{
    text-align: center;
    justify-content: center;
    background: linear-gradient(rgb(4, 87, 4), rgb(5, 232, 5));
    width: 80%;
    border-radius: 10px;
    margin: auto;
    
}
.d-video h1{
    color: rgb(238, 255, 47);
}





